* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #793e75;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40%;
  background: rgba(234, 218, 233, 0.418);
  border-radius: 10px;
  min-width: 400px;
  padding: 25px;
  color: #fff;
}

h1, h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}

#newtask {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  font-size: 16px;
  color: #111;
}

#taskInput:focus {
  outline: none;
  border-color: #0d75ec;
}

#category {
  padding: 10px;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  font-size: 15px;
  color: #333;
}

button {
  padding: 10px 15px;
  background-color: #0d75ec;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background-color: #095ab2;
}

.task {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task span {
  flex: 1;
  margin: 0 10px;
}

.categoryTag {
  background-color: #c5e1e6;
  color: #111;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  margin-right: 10px;
}

.actions button {
  margin-left: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  color: #fff;
}

.actions .edit {
  background-color: #ffb300;
}

.actions .save {
  background-color: #4caf50;
}

.actions .delete {
  background-color: #f44336;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
